DATABASE_URL=postgresql://postgres:postgres@localhost:5432/krypto
PRIVATE_KEY_ENCRYPTION_KEY=gfgfdgdf-gd-fg-df-gd-fg-dfgdfgdgdf
JWT_SECRET=rFJkdjfjd-fsfjs8934nfd
JWT_EXPIRES_IN=1m
JWT_REFRESH_SECRET=rFJkdjfjd-fsfjs8934nfd-refresh
JWT_REFRESH_EXPIRES_IN=30d
COINGECKO_API_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_DEMO_API_KEY=CG-pg3BVxUwgpMZkinBmYX9UB4j
RATES_SYNC_ENABLED=true
RATES_SYNC_RUN_ON_STARTUP=true
RATES_SYNC_INTERVAL_MS=3000000
RATES_SYNC_PAIRS=bitcoin:BTC:USD,ethereum:ETH:USD,the-open-network:TON:USD,tether:USDT:USD
